.view-post-modal .post-content {
  display: flex;
  flex-direction: row;
  height: 500px; /* Adjust height as needed */
}

.view-post-modal .post-image-container {
  flex: 1;
}

.view-post-modal .post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.view-post-modal .post-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.view-post-modal .post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-post-modal .post-username {
  margin-right: auto;
  margin-left: 5px;
}

.view-post-modal .post-delete-button {
  margin-left: auto;
  color: #ff4d4f; /* Example color for delete button */
}

.view-post-modal .post-description {
  margin: 10px 0;
}

.view-post-modal .comments-section {
  flex: 1;
  overflow-y: auto;
  max-height: 400px; /* Increase this value to hold more comments before scrolling */
  
}

.view-post-modal .post-actions {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.view-post-modal .post-actions .like-button .anticon{
  font-size: 25px; /* Make the like button larger */
  color: #ff4d4f;
}
.like-count{
  font-size: 15px;
  margin-left: 5px;
  margin-top: 2px;
}
.view-post-modal .post-actions .like-button .anticon .anticon-heart{
  color: #ff4d4f;
}
.view-post-modal .post-actions .like-button .anticon .anticon-heart-filled{
  color: #ff4d4f;
}

.view-post-modal .comment-input-container {
  display: flex;
  align-items: center;
  margin-top: auto; /* Pushes the container to the bottom */
}

.view-post-modal .comment-input-container .ant-input-textarea {
  flex: 1;
  margin-right: 10px;
}

.view-post-modal .comment-submit-button {
  white-space: nowrap;
  background-color: #1890ff; /* Example color for submit button */
  color: white;
}
.no-link-styles {
  text-decoration: none;  /* Remove underline */
  color: inherit;         /* Inherit text color from parent */
  margin-right: auto;

}