.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #0095f6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .google-auth-button {
    background-color: #db4437;
  }
  
  .login-form button:hover {
    background-color: #007bb5;
  }
  
  .google-auth-button:hover {
    background-color: #c23321;
  }
  
  .login-container p {
    margin-top: 10px;
  }
  
  .login-container a {
    color: #0095f6;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  .forgot-password{
    font-size: 14px;
  }
  